.github/**
.vscode/**
.vscode-test/**
node_modules
releases
tools
utilities/**
api-gateway
out/test/**
out/**/*.map
src/**
.gitignore
.yarnrc
tsconfig.json
vsc-extension-quickstart.md
vscode-openai-version.json
tslint.json
webview